html {
    /* CONTROLE DE VELOCIDADE DO SCROLL */
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1, p {
    color: #333333;
    font-family: 'Roboto';
}

#navtitle {
    font-family: 'Saira Stencil One';
}

.navlink {
    font-family: 'Roboto';
    font-weight: bold;
}

.navlink:after {
    display:block;
    content: '';
    border-bottom: solid 3px;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

/* TRANSFORM PERMITE MODIFICAR, RODAR E ALTERAR A ESCALA DOS ELEMENTOS */
.navlink:hover:after { transform: scaleX(1); }


/* CLASSE PARA CATEGORIAS */
.navegadores {
    color: #333333;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(to right, #333333 15%,#9ba8a8, #333333 85%);
}

/* DISTÂNCIA ENTRE ÁREAS DE CADA CATEGORIA */
.anchor {
    padding: 29.5px;
}

/* RODAPÉ DA PÁGINA */
footer {
    color: white;
    background-image: 
        linear-gradient(to top, #9ba8a8, #c8cec4);
    padding: 3em 2em 5em 2em;
    margin-top: 5em;
}

.iconfooter {
    color: #ebebe7;
    transition: 0.3s;
}

.iconfooter:hover {
    color: #333333;
}

.imgnews {
    max-width: 100%;
    height: auto;
    position: relative;
}

.capa {
    background: url("images/capa.png") no-repeat;
    width: 100%;
}